*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/Contact/bc-contact.jpg');
    background-size: cover;
    height: 130vh;
    font-family: sans-serif;
}


/***********
*BARRA DE NAVEGACION*
***********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;
}
.logo{
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
.nav-links{
    position: absolute;
    top: 35px;
    right: 0;
    list-style: none;
}
.nav-links li{
    display: inline;
    padding: 0 20px;
}
.nav-links li a {        /*REVISAR SOMBRA DEL HOVER DEL LINK DE NAVEGACION*/
    transition: all .3s  ease 0s;
    padding: 5px;
}
.nav-links li a:hover{
    font-size: 20px;
    border-bottom: 1px #fff solid;
}
.especial{
    border-bottom: 1px #fff solid;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding: 5px;
}





/***********
*BARRA DE NAVEGACION*
***********/


/***********
*FORMULARIO*
***********/


.contenedor-formulario{
    margin: 200px auto;
    background-color: #BFBBB4;
    width: 403px;
    height: 488px;
    border-radius: 20px;
}
.contenedor-formulario h3{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.contenedor-campos .campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.contenedor-campos .campo label{
    position: relative;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 5px;
}
.contenedor-campos .campo input{
    background-color: transparent;
    font-size: 18px;
    display: block;
    width: 80%;
    border: none;
    margin: 5px;
}

.contenedor-campos .campo input:focus{
    border-bottom: 1px solid #000;
    transition: .3s;
    outline: none;
}

.btn{
    display: block;
    margin: 50px 10px;
    padding: 8px 30px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}


/*BOTON CHECKBOX*/
.boton{
    margin: 10px;
}
.label-switch{
    display: inline-block;
    width: 55px;
    height: 30px;
    background: rgb(159, 120, 120);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#boton-switch:checked~ .label-switch{  /*hace que cambie de color al presionarlo*/
    background:rgb(210, 84, 84) ;
}
.label-switch::after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: .3s;
}
#boton-switch:checked~ .label-switch::after{  /*hace que cambie de color al presionarlo*/
   left: 28px;
}

#boton-switch{
    display: none;
}
/*BOTON CHECKBOX*/

/***********
*FORMULARIO*
***********/
