*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Contact/bc-contact.jpg');
    background-size: cover;
    height: 130vh;
    font-family: sans-serif;
}


/***********
*BARRA DE NAVEGACION*
***********/

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
li{
    display: inline-block;
    padding: 0 20px;
}
 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header button{
    padding: 7px 10px;
    border-radius: 15px;
    border: none;
    color: #000;
    background-color: #e7e7e7;
}

header button:hover{
    background-color: #000;
    color: #e7e7e7;
    transition: .4s;
}
.logo{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}

.nav-item:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    transition: .3s;
}

/***********
*BARRA DE NAVEGACION*
***********/


/***********
*FORMULARIO*
***********/

/*contenedor*/
.contenedor{
    background-color: #161515;
    width:130vh;
    height: 100vh;
    margin: 100px 250px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
}


.imagen-izquierda img{
    width: 90%; /*computadora colegio*/
    height: 100%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

.contenedor-form h1{
    text-align: center;
    padding: 20px 0 20px 0;
    color: #e7e7e7;
    font-size: 40px;
    letter-spacing: 1px;
    /* width: 70%;
    border-bottom: 1px solid #e7e7e7 ; */
}
.contenedor-form form{
    box-sizing: border-box;
    padding: 0 40px;
}
.contenedor-form span{
    color: #e7e7ee;
    display: flex;
    justify-content: center;
    margin: 0 5px;
}
.contenedor-form button{
    background: none;
    border: none;
    color: #000;
    background-color: #e7e7e7;
    padding: 8px;
    border-radius: 10px;
    margin: 50px 0;
}
.contenedor-form button:hover{
    color: #e7e7e7;
    background-color: #969292;
    transition: .3s;
}
form .items{
    position: relative;
    border-bottom: 2px solid #d6d3d3;
    margin: 30px 0;
}
.items input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.items label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #f1e5e4;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}
.items span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ada1a0;
    transition: .5s;
}
.items input:focus ~ label,
.items input:valid ~ label{
    top: -5px;
    color: #ada1a0;
}
.items input:focus ~ span::before,
.items input:valid ~ span::before{
    width: 100%;
}













/*BOTON CHECKBOX*/
.boton{
    margin: 10px;
    display: flex;
}
.boton span{
    color: #f1e5e4;
}
.label-switch{
    display: inline-block;
    width: 55px;
    height: 30px;
    background: rgb(187, 184, 184);
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

#boton-switch:checked~ .label-switch{  /*hace que cambie de color al presionarlo*/
    background:rgb(96, 90, 90) ;
}
.label-switch::after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: .3s;
}
#boton-switch:checked~ .label-switch::after{  /*hace que cambie de color al presionarlo*/
   left: 28px;
}

#boton-switch{
    display: none;
}
/*BOTON CHECKBOX*/

/***********
*FORMULARIO*
***********/
