*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/Home/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
li{
    display: inline-block;
    padding: 0 20px;
}
 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}

a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    transition: .3s;
}

.texto-principal h1{
    color: #fff;
    font-size: 70px;
    margin-top: 120px;
    margin-left: 80px;
    letter-spacing: 1.5px;
}
.texto-principal h2{
    margin-top: 40px;
    margin-left: 80px;
    font-size: 25px;
    letter-spacing: 1px;
}

/*redes sociales*/
.redes{     
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 300px;
   
}
.redes a{
    display: block;
    margin:  0 50px; 
    font-size: 25px;
    background-color: #404040;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 6px 6px 8px -1px rgba(0, 0,0, 0.15),
    6px 6px 8px -1px #404040;
    transition:  0.5s;
}
.redes a i{
    transition: .5s;
    font-size: 23px;
}
.redes a:hover{
    box-shadow: 4px 4px 6px -1px rgba(0, 0,0, 0.2),
    -4px -4px 6px -1px #404040;
    transform: translateY(2px);
}
.redes a:hover i{
    transform: scale(0.90);
}
.redes a:hover i{
    transform: scale(0.90);
}



