*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Contact/bc-contact.jpg');
    background-size: cover;
    background-position: center center;
    height: 150vh;
    width: 100vh;
    font-family: sans-serif;
}
li, a, button{
    list-style: none;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 0 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}
a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    transition: .3s;
}

/*texto*/
h1{
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
}
p{
    color: #fff;
}


/*productos*/
.supplie-imagen{
    width: 330px;
    height: 230px;
    box-shadow: 2px 1px 20px 8px rgba(172, 171, 171, 0.4);
}


.grid{   /*3 imagenes principales*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 140px ;
}


         
.btn {
    background-image: linear-gradient(to right, #191b1b 0%, #343636  51%, #292a2c  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    border-radius: 10px;
    display: block;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
/* .btn{
    display: grid;
    grid-column: 2/4 ;
    width: 120px;
    margin: 50px 160px;
    padding: 12px 13px;
    border-radius: 8px;
    font-size: 18px;
    

    border: none;
    outline: none;
}
.btn:hover{
    box-shadow: 2px 1px 10px 4px rgba(172, 171, 171, 0.4);
    transition: .3s;
    outline: none;
} */