*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Contact/bc-contact.jpg');
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
}
li, a, button{
    list-style: none;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 0 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header button{
    padding: 7px 10px;
    border-radius: 15px;
    border: none;
    color: #000;
    background-color: #e7e7e7;
}

header button:hover{
    background-color: #000;
    color: #e7e7e7;
    transition: .4s;
}
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.nav-item:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    transition: .3s;
}



/*texto*/
h1{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 70px 40px;
}
p{
    color: #fff;
    margin: 20px 80px;
    font-size: 20px;
}


/*productos*/
.supplie-imagen{
    width: 330px;
    height: 230px;
    box-shadow: 2px 1px 20px 8px rgba(172, 171, 171, 0.4);
}


.grid{   /*3 imagenes principales*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 140px ;
}


section a{
    display: grid;
    grid-column: 2/3;
}
.btn {
    background-image: linear-gradient(to right, #191b1b 0%, #343636  51%, #292a2c  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    border-radius: 10px;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 